.Card-Container {
  display: flex;
  flex-direction: column;
  min-height: 400px;
  margin-top: -35vh;
  width: 100%;
}

.Card-Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  height: 150vh;
  width: 100%;
  margin-top: -2px;
  z-index: 3;
  transform: translateY(60vh);
  animation: 1s slideInFromBottom forwards;
}

.spacer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spacer {
  aspect-ratio: 960/200;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.wave-layer-1 {
  margin-top: -20%;
  z-index: 3;
  background-image: url(../../public/Media/wave-border-1.svg);
  transform: translateY(60vh);
  animation: 1s slideInFromBottom forwards;
}
.wave-layer-2 {
  margin-top: -20%;
  z-index: 2;
  background-image: url(../../public/Media/wave-border-2.svg);
  transform: translateY(60vh);
  animation: 1s slideInFromBottom 0.15s forwards;
}
.wave-layer-3 {
  z-index: 1;
  background-image: url(../../public/Media/wave-border-3.svg);
  transform: translateY(60vh);
  animation: 1s slideInFromBottom 0.3s forwards;
}

@keyframes slideInFromBottom {
  100% {
    transform: translateY(0);
  }
}
