.Card-Container {
  overflow: hidden;
  height: 200vh;
  width: 100vw;
  position: relative;
  top: 70vh;
  animation: 1.5s slideInFromBottom;
}

.Card-Humps {
  position: absolute;
  left: -1vw;
  top: 0;
  width: 102vw;
  height: 261px;
}

.Card-Box {
  position: absolute;
  background-color: #f1f1f1;
  top: 250px;
  width: 100%;
  height: 100%;
}

@keyframes slideInFromBottom {
  0% {
    transform: translateY(60vh);
  }
  100% {
    transform: translateY(0);
  }
}
