$logo-width: 3vh;
$logo-count: 3;
$logo-gap: 0.2vw;

.c-header-container {
  position: absolute;
  display: flex;
  width: fit-content;
  height: fit-content;
  justify-content: space-between;
  z-index: 5;
  top: -60vh;
  right: 2vw;
  gap: 0.2vw;
  rotate: -90deg;
  transform-origin: bottom right;
}

#c-linkedin {
  fill: #0072b1 !important;
}

#c-github {
  fill: black !important;
}

#c-mail {
  fill: green !important;
}

.c-logo-mail,
.c-logo-github,
.c-logo-linkedin {
  transform: rotate(90deg);
}

.c-logo {
  cursor: pointer;
  width: $logo-width;
}

.c-logo:hover {
  filter: invert(0%) sepia(0%) saturate(1%) hue-rotate(80deg) brightness(200%)
    contrast(100%);
}

.c-logo:active {
  filter: invert(0%) sepia(0%) saturate(1%) hue-rotate(80deg) brightness(50%)
    contrast(100%);
}
