.Three-Container {
  width: 100vw;
  height: 50%;
  margin-top: 2vh;
  animation: 1.3s slideInFromBottomThree;
}

$icon-container-height: 610px;
$icon-container-width: 1170px;

.Moving-Icon-Container {
  cursor: pointer;
  position: relative;
  top: 30px;
  left: 30px;
  height: 610px;
  width: 1170px;
}

@media only screen and (max-width: 1260px) {
  .Moving-Icon-Container {
    top: 50px;
  }
}

$icon-size: clamp(16px, 48px, 96px);

.Moving-Icon {
  position: absolute;
  user-select: none;
  pointer-events: none;
  font-size: $icon-size;
  opacity: 1;
  color: white;
  font-weight: 700;
  animation: 8s colorSwitcher 1s infinite, 25s moveIcon 1s linear infinite,
    2s appear;
}

.Smiley-Screen {
  user-select: none;
  display: none;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background-image: url('../../public/Media/desktop_ss.PNG');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%;
  animation: 0.5s dissapear 4.7s;
}

@keyframes colorSwitcher {
  0% {
    color: red;
  }
  20% {
    color: cyan;
  }
  40% {
    color: lime;
  }
  60% {
    color: orange;
  }
  80% {
    color: yellow;
  }
  100% {
    color: magenta;
  }
}

$icon-container-width-anim: calc(1170px - calc($icon-size * 2));
$icon-container-height-anim: calc(610px - $icon-size);

@keyframes moveIcon {
  0%,
  100% {
    transform: translate(
      $icon-container-width-anim,
      $icon-container-height-anim
    );
  }
  12% {
    transform: translate(0px, calc(0px + ($icon-container-height-anim * 0.2)));
  }
  15% {
    transform: translate(calc(0px + ($icon-container-width-anim * 0.2)), 0px);
  }

  26% {
    transform: translate(
      calc(0px + ($icon-container-width-anim * 0.8)),
      $icon-container-height-anim
    );
  }

  29% {
    transform: translate(
      $icon-container-width-anim,
      calc(0px + ($icon-container-height-anim * 0.8))
    );
  }
  40% {
    transform: translate((calc(0px + ($icon-container-width-anim * 0.4)), 0px));
  }
  45% {
    transform: translate(0px, calc(0px + ($icon-container-height-anim * 0.3)));
  }
  54% {
    transform: translate(
      calc(0px + ($icon-container-width-anim * 0.5)),
      $icon-container-height-anim
    );
  }
  63% {
    transform: translate(
      $icon-container-width-anim,
      calc(0px + ($icon-container-height-anim * 0.2))
    );
  }
  66% {
    transform: translate(calc(0px + ($icon-container-width-anim * 0.8)), 0px);
  }
  77% {
    transform: translate(
      calc(0px + ($icon-container-height-anim * 0.4)),
      $icon-container-height-anim
    );
  }
  82% {
    transform: translate(0px, calc(0px + ($icon-container-height-anim * 0.5)));
  }
  88% {
    transform: translate(calc(0px + ($icon-container-width-anim * 0.4)), 0px);
  }
}

@keyframes slideInFromBottomThree {
  0%,
  50% {
    transform: translateY(100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes appear {
  0%,
  70% {
    opacity: 0%;
  }
  100% {
    opacity: 910%;
  }
}

@keyframes dissapear {
  0% {
    opacity: 90%;
  }
  100% {
    opacity: 0%;
  }
}
