.work-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  align-items: center;
}

.work-container > * {
  margin-bottom: 10vh;
}

.work-title {
  color: #094a9f;
  font-weight: 700;
}

.work-card-container {
  padding: 2em;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.work-name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 30%;
}

.work-card-name {
  font-size: 2em;
  font-weight: 700;
  color: #094a9f;
}

.work-card-thumbnail-image {
  width: 100%;
  border-radius: 8px;
}

.work-description-container {
  margin-top: 2em;
  flex-basis: 60%;
  position: relative;
  font-size: clamp(12px, 20px, 48px);
}

.work-card-description {
  margin-bottom: 2.5em;
}

.work-card-button {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  border-radius: 4px;
  outline: 2px solid #5ba1ff;
  color: #5ba1ff;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 200ms;
}

.button-disabled {
  cursor: unset;
  pointer-events: none;
  outline: 2px solid lightgray;
  color: lightgray;
}

.work-card-button:hover {
  color: #f1f1f1;
  background-color: #5ba1ff;
}

.work-card-description {
  font-weight: 600;
  color: #094a9f;
}

.work-button-container {
  display: flex;
  gap: 1em;
  position: absolute;
  bottom: 0;
  left: 0;
}

.tech-icon {
  aspect-ratio: 1/1;
  width: 2em;
}

.work-tech-container {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-top: 8px;
}

.tech-label {
  font-weight: 700;
}

@media screen and (min-width: 2400px) {
  .work-description-container {
    font-size: 42px;
  }
  .work-card-name {
    font-size: 72px;
  }
}

@media screen and (max-width: 1256px) {
  .work-card-container {
    flex-direction: column;
  }
  .work-container {
    width: 90%;
  }
  .work-description-container {
    font-size: 16px;
    margin-top: 0px;
  }
  .work-card-name {
    font-size: 24px;
  }
  .work-title {
    margin-bottom: 5vh;
    margin-top: 3vh;
  }
}
